@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f6f8fb;
  --secondary: #e8eaef;
  --tetriary: #cfd1d6;
  --text: #000000;
  --background: var(--secondary);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #2e2e2e;
    --secondary: #212121;
    --tetriary: #767676;
    --text: #fefefe;
    --background: var(--secondary);
  }
}

[data-theme="dark"] {
  --primary: #2e2e2e;
  --secondary: #212121;
  --tetriary: #767676;
  --text: #ffffff;
  --background: var(--secondary);
}

:root {
  font-family: "Poppins", sans-serif;

  color: var(--text);
  font-size: 16px;
  --size-xs: 8px;
  --size-s: 16px;
  --size-m: 24px;
  --size-l: 64px;
  --size-xl: 128px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  line-height: 1.2;
  font-size: clamp(64px, 8vw, 78px);
}

p {
  font-size: clamp(16px, 2vw, 22px);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: auto;
  font-size: clamp(14px, 1vw, 16px);
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.start {
  align-items: start;
}

.collumn {
  flex-direction: column;
}

.justify {
  justify-content: center;
}
.spaced {
  justify-content: space-between;
}
.align {
  align-items: center;
}
.stretch {
  align-items: stretch;
}
.gap {
  gap: var(--size-s);
}

.gap.large {
  gap: var(--size-l);
}

button {
  background: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  font-size: clamp(14px, 1vw, 16px);
}

.round_button {
  padding: var(--size-s);
  border-radius: var(--size-m);
  display: flex;
}

.round_button:hover {
  background-color: var(--secondary);
}

.button {
  padding: 12px 32px 12px 32px;
  background-color: var(--text);
  color: var(--primary);
  position: relative;
  transition: all 0.3s ease;
}

.button:before {
  content: "→";
  position: absolute;
  left: 0;
  color: var(--primary);
  transition: 0.3s ease;
  opacity: 0;
}

.button:hover {
  padding: 12px 16px 12px 48px;
  border-radius: var(--size-xs);
}

.button:hover::before {
  opacity: 1;
  left: 15px;
}

.navlink {
  padding: 15px 30px 15px 30px;
  position: relative;
  transition: all 0.3s ease;
  position: relative;
  display: block;
}

.navlink:before {
  content: "→";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-58%);
  color: inherit;
  transition: 0.3s ease;
  opacity: 0;
}

.navlink:hover {
  padding: 15px 15px 15px 45px;
}

.navlink:hover::before {
  opacity: 1;
  left: 15px;
}

.dropdown_content {
  position: absolute;
  top: var(--size-l);
  background-color: var(--secondary);
  padding: var(--size-s);
  border-radius: var(--size-xs);
  display: inline-block;
}

.dropdown {
  position: relative;
}
